<div class="news-container">
  <h1>Продукты</h1>
  <div *ngIf="products && products.length" style="display: flex;flex-wrap: wrap;">
    <div *ngFor="let item of products" >
      <mdc-card class="demo-card">
        <mdc-card-primary-action (click)="onCardClick(item)">
          <img class="card-img" [src]="getImg(item.image)"/>
          <div class="demo-card__primary">
            <h2 class="demo-card__title" mdcHeadline6>{{item.title}}</h2>
            <h3 class="demo-card__subtitle" mdcSubtitle2>Цена: {{item.price}}</h3>
            <h3 class="demo-card__subtitle" mdcSubtitle2>Количество: {{item.quantity}}</h3>
          </div>
          <div class="demo-card__secondary" mdcBody2>
            {{item.description}}
          </div>
        </mdc-card-primary-action>
        <mdc-card-actions>
          <mdc-card-action-buttons>
            <button mdc-button mdcCardAction="button" *ngIf="userService.user && userService.user.user.isAdmin" (click)="onProductRemove(item)">Убрать продукткы</button>
          </mdc-card-action-buttons>
        </mdc-card-actions>
        <mdc-card-actions>
          <mdc-card-action-buttons>
            <button mdc-button mdcCardAction="button" (click)="onAddToCartClick(item)">Добавить в корзину</button>
          </mdc-card-action-buttons>
        </mdc-card-actions>
      </mdc-card>
    </div>
  </div>
</div>
